---
import { getCollection, render } from 'astro:content';
import Layout from '../../components/Layout.astro';
export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

interface Props {
  post: any;
}

const { post } = Astro.props as Props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title} - Daniel Granger`}>
  <article>
    <h1>{post.data.title}</h1>
    <p>{post.data.date.toLocaleDateString()}</p>
    <Content />
  </article>
</Layout>
