@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&family=Google+Sans+Code:wght@400;500;700&family=Google+Sans+Mono:wght@400;500;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';

body {
    font-family: 'Google Sans Mono', sans-serif;
    background-color: #f5f5f5;
}

code,
pre,
.render-code {
    font-family: 'Google Sans Code', monospace;
}

.display-3 {
    font-family: 'Google Sans', sans-serif;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    .slot-container {
        padding: 0 2rem;
    }
}

/* Rich Text Content Styling */

article {
    margin-top: 3rem;
}

article > code {
    font-family: Google Sans Mono, monospace;
}

article > blockquote {
    border-left: 0.25rem solid #444;
    border-radius: 0.25rem;
    padding-left: 1rem;
    color: #555;
    max-width: 60ch;
    transition: border-color 0.2s ease-in-out;
}

article > blockquote:hover {
    border-left: 0.25rem solid #6CD899;
}

article > p > a {
    color: black;
    text-decoration: none;
    border-bottom: solid #6CD899 2px;
    transition: border-color 0.2s ease-in-out;
}

article > p > a:hover {
    border-bottom: solid #ff7502 2px;
}

article > pre {
    padding: 0.5rem 0;
    border-radius: 0.25rem;
    counter-reset: line;
}

article > pre code .line {
    counter-increment: line;
}

article > pre code .line::before {
    content: counter(line);
    display: inline-block;
    width: 1.5rem;
    margin-right: 1rem;
    text-align: right;
    color: #888;
    user-select: none;
}