.hero {
    margin-top: 3rem;
}

.title {
    border-left: #ff7502 0.25rem solid;
    border-radius: 0.25rem;
    padding: 0.75rem 2rem;
    transition: all 0.2s ease-in-out;
}

.dev-icon-container > i {
    font-size: 1.75rem;
    padding: 0.25rem;
    transition: color 0.2s ease-in-out;
}

.title:focus, .title:hover {
    border-left-color: #ff9e4e;
}

.hero-tag {
    margin: 0;
    margin-top: -0.5rem;
    font-size: 1.25rem;
}
