---
import { getCollection } from 'astro:content';

interface Props {
  slugs: string[];
}

const { slugs } = Astro.props;

const allItems = await getCollection('portfolio');
const featured = slugs
  .map((slug) => allItems.find((item) => item.id === slug))
  .filter(Boolean);
---

<section class="featured-work container-lg mt-5">
  <h2 class="mb-4">Featured Work</h2>
  <div class="row g-4">
    {featured.map((item) => (
      <div class="col-md-6 col-lg-4">
        <a href={`/portfolio/${item!.id}`} class="work-card">
          <h3 class="h4">{item!.data.title}</h3>
          <p>{item!.data.description}</p>
          {item!.data.tags && (
            <div class="tags">
              {item!.data.tags.map((tag: string) => <span class="tag">{tag}</span>)}
            </div>
          )}
        </a>
      </div>
    ))}
  </div>
</section>
