---
import '../../assets/css/hero.css';
import { marked } from 'marked';
import homepage from '../../data/homepage.json';

const subtitleHtml = marked.parseInline(homepage.subtitle);
---

<section class="hero">
	<div class="row">
		<div class="col-12 title">
			<h1 id="hero-title" class="display-3"><b>{homepage.title}</b></h1>
			<p class="render-code hero-tag" set:html={subtitleHtml}></p>

			<div class="dev-icon-container mt-3">
				{homepage.icons.map((icon) => (
					<i class={`devicon-${icon}-plain`}></i>
				))}
			</div>
		</div>
	</div>
</section>

<script>
	document.querySelectorAll('.dev-icon-container > i').forEach(icon => {
		icon.addEventListener('mouseenter', () => icon.classList.add('colored'));
		icon.addEventListener('mouseleave', () => icon.classList.remove('colored'));
	});
</script>
