---
import '../../assets/css/hero.css';
---

<section class="hero">
	<div class="row">
		<div class="col-12 title">
			<h1><b>Daniel Granger</b></h1>
			<p class="render-code hero-tag"><b>.NET</b> Web Developer</p>

			<div class="dev-icon-container mt-3">
				<i class="devicon-csharp-plain"></i>
				<i class="devicon-svelte-plain"></i>
				<i class="devicon-microsoftsqlserver-plain"></i>
				<i class="devicon-kubernetes-plain"></i>
				<i class="devicon-azure-plain"></i>
				<i class="devicon-netlify-plain"></i>
			</div>
		</div>
	</div>
</section>

<script>
	document.querySelectorAll('.dev-icon-container > i').forEach(icon => {
		icon.addEventListener('mouseenter', () => icon.classList.add('colored'));
		icon.addEventListener('mouseleave', () => icon.classList.remove('colored'));
	});
</script>
