---
import '../../assets/css/hero.css';
---

<section class="hero">
	<div class="container-lg">
		<div class="row">
			<div class="col-12 title">
				<h1><b>Daniel Granger</b></h1>
				<p class="render-code hero-tag"><b>.NET</b> Web Developer</p>
			</div>
		</div>
	</div>
</section>
