---
const { pathname } = Astro.url;
---

<nav class="navbar navbar-expand-md">
	<div class="container-lg">
		<a class="navbar-brand" href="/">Daniel Granger</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="hamburger">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class={`nav-link ${pathname.startsWith('/blog') ? 'active' : ''}`} href="/blog">Blog</a>
				</li>
				<li class="nav-item">
					<a class={`nav-link ${pathname.startsWith('/portfolio') ? 'active' : ''}`} href="/portfolio">Portfolio</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

