---
import { getCollection } from 'astro:content';
import Layout from '../../components/Layout.astro';

const items = await getCollection('portfolio');
---

<Layout title="Portfolio - Daniel Granger">
  <h1>Portfolio</h1>
  <ul>
    {items.map((item) => (
      <li>
        <a href={`/portfolio/${item.id}`}>{item.data.title}</a>
        <p>{item.data.description}</p>
        {item.data.tags && <p>Tags: {item.data.tags.join(', ')}</p>}
      </li>
    ))}
  </ul>
</Layout>
